@page "/"

@inject NavigationManager NavMgr
<PageTitle>Home</PageTitle>

<h1>VIA Forum</h1>

<AuthorizeView>
    <Authorized>
        <h3>Hello, @username</h3>
    </Authorized>
    <NotAuthorized>
        Please log in!
    </NotAuthorized>
</AuthorizeView>
Here you can browse interesting posts.
@if (string.IsNullOrEmpty(username))
{
    <button @onclick='() => NavMgr.NavigateTo("login")'>go to login</button>
}

@code
{
    private string? username;
    [CascadingParameter] public Task<AuthenticationState> State { get; set; }

    protected override async Task OnInitializedAsync()
    {
        var authState = await State;
        var user = authState.User;

        username = user.Identity?.Name; // <---- gem her
    }
}
