@page "/posts"
@using System.Security.Claims
@using ApiContracts.Posts
@using BlazorApp.Services
@inject IPostService PostService
@attribute [StreamRendering]

<PageTitle>Posts</PageTitle>

<h1>Posts</h1>

@if (posts == null)
{
    <p>Loading...</p>
}
else
{
    <ul class="list-group">
        @foreach (var post in posts)
        {
            <li class="list-group-item">
                <a class="text-decoration-none" href=@($"/posts/{post.Id}")>
                    @post.Title
                </a>
            </li>
        }
    </ul>
}
@if (!string.IsNullOrEmpty(UserIds))
{
<h1>Create New Post</h1>
<div class="row mt-3">
    <div class="col-sm-3">
        <input @bind="Title" type="text" placeholder="Title" required>
    </div>
</div>

<div class="row mt-3">
    <div class="col-sm-3">
        <input @bind="Body" type="text" placeholder="Body" required>
    </div>
</div>

    <div class="row mt-3">
        <div class="col-sm-3">
            <button @onclick="CreatePost" class="btn btn-primary">Create Post</button>
        </div>
    </div>
}

@code {
    private List<PostDto>? posts;
    [CascadingParameter] public Task<AuthenticationState> State { get; set; }
    
    public string Title { get; set; }
    public string Body { get; set; }
    public string UserIds { get; set; }
    public int UserIdi;

    protected override async Task OnInitializedAsync()
    {
        posts = await PostService.GetManyPosts();
        
        AuthenticationState authenticationState = await State;
        ClaimsPrincipal claimsPrincipal = authenticationState.User;
        if(claimsPrincipal.Identity is null || !claimsPrincipal.Identity.IsAuthenticated)
        {
            return;
        }
        string? username = claimsPrincipal.Identity?.Name;
        IEnumerable<Claim> claims = claimsPrincipal.Claims;
        UserIds = claims.Single(c => c.Type == "Id").Value;
    }
    
    public async void CreatePost()
    {
        int.TryParse(UserIds, out this.UserIdi);
        
        CreatePostDto cpd = new CreatePostDto() { Title = this.Title, Body = this.Body, UserId = UserIdi};
        await PostService.AddPost(cpd);
        await LoadPosts();
        Title = "";
        Body = "";
        UserIds = "";
        UserIdi = 0;

        StateHasChanged();
    }

    public async Task LoadPosts()
    {
        posts = await PostService.GetManyPosts();
    }
}